@{
    Layout = "";
    ViewBag.Title = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0049)http://cichang.hujiang.com/books/c141401111660516 -->
<html xmlns="http://www.w3.org/1999/xhtml" hp-version="0.5.9">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" async="" src="~/Content/homeJsCss/log"></script>
    <script type="text/javascript" async="" src="~/Content/homeJsCss/template"></script>
    <script type="text/javascript" async="" src="~/Content/homeJsCss/log(1)"></script>
    <script type="text/javascript" async="" src="~/Content/homeJsCss/log(2)"></script>
    <script type="text/javascript" async="" src="~/Content/homeJsCss/track"></script>
    <script src="~/Content/homeJsCss/fpv2.js"></script>
    <title>index</title>
    <meta name="Keywords" content="英语单词,背英语单词">
    <meta name="Description" content="英语单词书，帮助大家在线背英语单词的网站，单词背诵软件">
    <link rel="stylesheet" href="~/Content/homeJsCss/important.css" type="text/css">
    <link href="~/Content/homeJsCss/jbox.css" rel="stylesheet" type="text/css">
    <link href="~/Content/homeJsCss/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #container
        {
            margin-top: 29px;
        }

        .fixed_wrapper_height
        {
            height: 36px;
        }
    </style>

    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Content/homeJsCss/tooltipster/dist/js/tooltipster.bundle.js"></script>
    <script type="text/javascript" src="~/Content/homeJsCss/tooltipster/dist/js/tooltipster-follower.min.js"></script>
    <script type="text/javascript" src="~/Content/homeJsCss/tooltipster/dist/js/tooltipster-discovery.min.js"></script>
    <script type="text/javascript" src="~/Content/homeJsCss/tooltipster/dist/js/scripts.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
    <script type="text/javascript" src="~/Content/homeJsCss/tooltipster/dist/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/homeJsCss/tooltipster/dist/js/prettify.js"></script>

</head>
<body>
    <form method="post" action="http://cichang.hujiang.com/books/c141401111660516?cate=141401111660516" id="form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTkyMTMyNjY4MWRkHhDvtvpdPWKxrg6l0EW62qRdN48=">
        </div>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="03510489">
        </div>
        <div class="fixed_wrapper_height"></div>
        <div id="wrapper">
            <script src="~/Content/homeJsCss/jquery-1_8_3_min_js.js" type="text/javascript"></script>

            <style>
                .pass_register_tooltip
                {
                    float: right;
                    color: #fff !important;
                    line-height: 22px;
                    margin-top: 6px;
                    background-image: url(./images/update_info.png);
                    width: 97px;
                    height: 24px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 12px;
                }
            </style>
            <script type="text/javascript">
                var uzt_99 = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + uzt_99 + '"></div>');
                (window._Uzt_Slots = window._Uzt_Slots || []).push({
                    id: 99,
                    cid: uzt_99
                });
            </script>
            <div id="_x58d3lp789f"></div>

            <!-- container -->
            <div id="container" class="shadow02 radius_top05">
                <!-- content_all -->
                <div id="content_all">
                    <div id="log_cichang_2017">
                        <a id="logo_2017" href="http://cichang.hujiang.com/"></a>
                        <a title="点击下载手机版开心词场" style="display: block; width: 700px; margin-left: 250px; height: 120px;" target="_blank" href="http://www.hujiang.com/app/?ch_campaign=tool12945&amp;ch_source=itool_kxcc_0_xmdbtt#cichang"></a>
                    </div>
                    <div class="clear">
                    </div>
                    <!-- tab -->

                    <div class="tabs_profile mt20">
                        <span class="fr gray">

                            <a href="http://cichang.hujiang.com/reminder" title="" class="gray">词场设置</a> | 
       
                            <a href="http://st.hujiang.com/cihui/c2505/" target="_blank" class="noline gray" rel="nofollow">问题反馈</a>
                        </span>
                        <ul class="tabs">
                            <li class="active"><a href="/"><span>资源首页</span></a></li>
                            <li class=""><a href="/books"><span>C#书籍</span></a></li>
                            <li class=""><a href="/topic"><span>C#工具</span></a></li>
                            <li class="">
                                <a href="javascript:centerWin('/testword/', 825, 625);" title="测测你的词汇量 - 开心词汇量"><span>.NET资源</span></a>
                                <img src="~/Content/homeJsCss/images/ico_new.png" style="position: absolute; top: -12px;">
                            </li>
                        </ul>

                    </div>

                    <div class="filters por">
                        <a href="http://cichang.hujiang.com/books/" class="">全部地区</a>&nbsp;                            
                           
                        <a href="http://cichang.hujiang.com/books/c1210189061006" class="">华语</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1211963160935" class="">美国</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1212270291850" class="">韩国</a>&nbsp;

                       <a href="http://cichang.hujiang.com/books/c1214810848680" class="selected">日本</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1215204292232" class="">意大利</a>&nbsp;
                         
                    </div>
                    <div class="filters por">
                        <a href="http://cichang.hujiang.com/books/" class="">全部类型</a>&nbsp;                            
                           
                        <a href="http://cichang.hujiang.com/books/c1210189061006" class="">喜剧</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1211963160935" class="">悲剧</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1212270291850" class="">爱情</a>&nbsp;

                       <a href="http://cichang.hujiang.com/books/c1214810848680" class="selected">动作</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1215204292232" class="">动画</a>&nbsp;
                         
                        <a href="http://cichang.hujiang.com/books/c1215204292232" class="">剧情</a>&nbsp;
                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">悬疑</a>&nbsp;
                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">恐怖</a>&nbsp;
                         
                    </div>
                    <div class="filters por">
                        <a href="http://cichang.hujiang.com/books/" class="">全部年份</a>&nbsp;                            
                           
                        <a href="http://cichang.hujiang.com/books/c1210189061006" class="">2017</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1211963160935" class="">2016</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1212270291850" class="">2015</a>&nbsp;

                       <a href="http://cichang.hujiang.com/books/c1214810848680" class="selected">2014</a>&nbsp;
                           
                        <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2013</a>&nbsp;
                          <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2012</a>&nbsp;
                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2011</a>&nbsp;
                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2010</a>&nbsp;

                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2019</a>&nbsp;
                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2018</a>&nbsp;
                         <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2017</a>&nbsp;
                        <a href="http://cichang.hujiang.com/books/c1215204292232" class="">2016</a>&nbsp;
                    </div>



                    <div class="clear">
                    </div>
                    <div class="hide gray txt_c" style="padding-top: 10px">
                        <span>如有疑问，请参看 <a href="http://www.hjclass.com/app/public/topic/138508/" target="_blank">日语词场常见问题</a>，如果未安装日语输入法，请安装 <a href="http://jp.hujiang.com/new/p23941/" target="_blank">微软日语输入法</a> 或 <a href="http://jp.hujiang.com/new/p90794/" target="_blank">谷歌日语输入法</a>
                        </span>
                    </div>
                    <div class="hide gray txt_c">
                        <span>如果未安装法语输入法，请安装 <a href="http://fr.hujiang.com/new/p138870/" target="_blank">法语输入法</a>
                        </span>
                    </div>
                    <div class="hide gray txt_c">
                        <span>如有疑问，请参看 <a href="http://hj.vc/YNzjMNB" target="_blank">韩语输入法入门</a>，如果词场无法正常显示韩语字符，请下载安装
                                [ <a href="http://cichang.hujiang.com/flash/batang.rar">batang字体</a> ] [ <a href="http://f2.c.hjfile.cn/upload/201108/0809125448687286_10389_0.zip">微软雅黑字体</a> ]</span>
                    </div>
                    <!-- icon_wxscb -->
                    <div class="clear">
                    </div>
                    <!-- tab end-->
                    <!-- 筛选排序 -->
                    <div class="book_selection">
                        <div class="fl">
                            <span>筛选：</span>

                            <select name="books_status" id="books_status">
                                <option value="-1" selected="">全部</option>
                                <option value="fav">热播榜</option>
                                <option value="0">好评榜</option>
                                <option value="1">新上线</option>
                            </select>

                            <select name="books_types" id="books_types" onchange="document.location.href = &#39;/books/c141401111660516/?booktype=&#39; + this.value ">
                                <option value="全部单词书">全部影片</option>
                                <option value="精华词书">免费</option>
                                <option value="网校词书">付费</option>

                            </select>
                        </div>
                        <div class="list_Btn fl">
                            <span class="fl">排序：</span>
                            <a class="listDefault listBtn listDefault-on
                            fl"
                                href="http://cichang.hujiang.com/books/c141401111660516" title="默认">
                                <span>默认</span>
                            </a>
                            <a class="listRank listBtn fl " href="http://cichang.hujiang.com/books/c141401111660516/?sort=hot" title="热门">
                                <span>热门</span>
                            </a>
                            <a class="listRank listBtn last fl " href="http://cichang.hujiang.com/books/c141401111660516/?sort=time" title="时间">
                                <span>时间</span>
                            </a>
                            <a class="listRank listBtn fl " href="http://cichang.hujiang.com/books/c141401111660516/?sort=wordcount" title="好评">
                                <span>好评</span>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <!-- 搜索 -->
                        <div class="fr">
                            <input type="text" class="hide">
                            <input type="text" name="txtKeyword" id="txtKeyword" class="fl keyword">
                            <a id="btnSearch" class="btn_search fl mouseP" href="javascript:"></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- 筛选排序end -->
                    <!-- app_cnt_v3 -->
                    <div id="app_cnt_v3">
                        <div id="wordlist">

                            <div class="clear">
                            </div>
                            <ul id="public_book_lst">

                                <li title="免费词书，所有沪江注册用户可用，无任何限制" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1512849719473645&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1512849719473645">
                                        <p class="bold word_class" title="本词书含有BEC中级阶段必须掌握的700个核心词汇">
                                            西游记之大闹天宫
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                             <span class="">72 </span>下载
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="免费词书，所有沪江注册用户可用，无任何限制" class="icon_wxscb_mf"></a>


                                </li>

                                <li title="免费词书，所有沪江注册用户可用，无任何限制" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510922377452437&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510922377452437">
                                        <p class="bold word_class" title="本词书含有BEC中级阶段必须掌握的700个核心词汇">
                                            战狼2
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                             <span class="">36
                                            </span>次下载
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="免费词书，所有沪江注册用户可用，无任何限制" class="icon_wxscb_mf"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510376783506990&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510376783506990">
                                        <p class="bold word_class" title="词条源自BEC真题，释义源于商务情景，BEC初级考试的得力备考工具">
                                            BEC初级词场
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">1600
                                            </span>词 , <span class="">80
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510378782881276&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510378782881276">
                                        <p class="bold word_class" title="词条源自BEC真题，释义源于商务情景，BEC中级考试的得力备考工具">
                                            BEC中级词场
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">1230
                                            </span>词 , <span class="">60
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510379783128539&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510379783128539">
                                        <p class="bold word_class" title="词条源自BEC真题，释义源于商务情景，BEC高级考试的得力备考工具">
                                            BEC高级词场
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">1360
                                            </span>词 , <span class="">68
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="免费词书，所有沪江注册用户可用，无任何限制" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510921377281272&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510921377281272">
                                        <p class="bold word_class" title="本词汇书涵盖剑桥商务英语中级阶段需要掌握的2000多个词组">
                                            BEC中级核心词组
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">2409
                                            </span>词 , <span class="">120
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="免费词书，所有沪江注册用户可用，无任何限制" class="icon_wxscb_mf"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511102211310326&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511102211310326">
                                        <p class="bold word_class" title="新版BEC中级">
                                            新版BEC中级
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">609
                                            </span>词 , <span class="">61
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511647650699752&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511647650699752">
                                        <p class="bold word_class" title="【新版】BEC商务英语初级">
                                            【新版】BEC商务英语初级 
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">480
                                            </span>词 , <span class="">32
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510401132961675&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510401132961675">
                                        <p class="bold word_class" title="实用商务英语1词场">
                                            实用商务英语1词场
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">498
                                            </span>词 , <span class="">18
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="免费词书，所有沪江注册用户可用，无任何限制" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511748646843918&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511748646843918">
                                        <p class="bold word_class" title="">
                                            BEC高级核心词汇
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">1887
                                            </span>词 , <span class="">95
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="免费词书，所有沪江注册用户可用，无任何限制" class="icon_wxscb_mf"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511178037966069&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511178037966069">
                                        <p class="bold word_class" title="托业冲刺课程">
                                            托业冲刺课程
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">135
                                            </span>词 , <span class="">9
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511628127988776&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511628127988776">
                                        <p class="bold word_class" title="实战商务口语--新手级">
                                            实战商务口语--新手级
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">300
                                            </span>词 , <span class="">30
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511577042864014&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511577042864014">
                                        <p class="bold word_class" title="五步炼成500强职场英语">
                                            五步炼成500强职场英语
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">397
                                            </span>词 , <span class="">25
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511656794908386&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511656794908386">
                                        <p class="bold word_class" title="托业职场英语强化课程">
                                            托业职场英语强化课程
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">360
                                            </span>词 , <span class="">36
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511865146663807&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511865146663807">
                                        <p class="bold word_class" title="【沪江牛津】Pre-intermediate">
                                            【沪江牛津】Pre-intermediate
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">402
                                            </span>词 , <span class="">16
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511386167136785&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511386167136785">
                                        <p class="bold word_class" title="新版BEC高级">
                                            新版BEC高级
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">1200
                                            </span>词 , <span class="">80
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510725365578494&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510725365578494">
                                        <p class="bold word_class" title="实用商务英语2词场">
                                            实用商务英语2词场
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">165
                                            </span>词 , <span class="">11
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510906131209641&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510906131209641">
                                        <p class="bold word_class" title="BEC口试">
                                            BEC口试
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">120
                                            </span>词 , <span class="">12
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1510582817759213&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1510582817759213">
                                        <p class="bold word_class" title="外教英语写作词场">
                                            外教英语写作词场
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">400
                                            </span>词 , <span class="">40
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511666147836827&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511666147836827">
                                        <p class="bold word_class" title="四周攻克核心商务词汇">
                                            四周攻克核心商务词汇
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">435
                                            </span>词 , <span class="">20
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511554793587235&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511554793587235">
                                        <p class="bold word_class" title="制胜英语面试 ">
                                            制胜英语面试 
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">200
                                            </span>词 , <span class="">20
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511472046525354&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511472046525354">
                                        <p class="bold word_class" title="新版BEC中级真题精讲">
                                            新版BEC中级真题精讲
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">200
                                            </span>词 , <span class="">20
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <li title="网校词书，对应班级学员专用，普通用户可体验前2关" class="radius btn_gray" onclick=" window.location.href = &#39;/book/1511909212213197&#39;; ">
                                    <a href="http://cichang.hujiang.com/book/1511909212213197">
                                        <p class="bold word_class" title="BEC高级真题精讲">
                                            BEC高级真题精讲
                                                                                                                  
                                        </p>
                                        <p class="word_info mb5" title="还没有闯关！">
                                            <span class="">300
                                            </span>词 , <span class="">20
                                            </span>关
                                                                                                                  
                                        </p>
                                        <p class="mt0 word_progress hide" title="还没有闯关！">
                                            <span class="progress_small"><span class="progress_small_green" style="width: 5%;"></span></span>
                                        </p>
                                    </a>
                                    <a title="网校词书，对应班级学员专用，普通用户可体验前2关" class="icon_wxscb_wx"></a>


                                </li>

                                <div class="clear">
                                </div>
                            </ul>
                            <div class="clear">
                            </div>

                        </div>
                        <div>
                            <link rel="stylesheet" type="text/css" href="~/Content/homeJsCss/paging/src/paging.css">
                            <div id="pageTool" style="margin-top: 20px"></div>
                            <!--             <div id="pageToolbar"></div>-->
                            <script type="text/javascript" src="~/Content/homeJsCss/paging/src/jquery-1.11.2.js"></script>
                            <script type="text/javascript" src="~/Content/homeJsCss/paging/src/query.js"></script>
                            <script type="text/javascript" src="~/Content/homeJsCss/paging/src/paging.js"></script>
                            <script>
                                $('#pageTool').Paging({
                                    pagesize: 10, count: 100, callback: function (page, size, count) {
                                        console.log(arguments)
                                        alert('当前第 ' + page + '页,每页 ' + size + '条,总页数：' + count + '页')
                                    }
                                });
                                //$('#pageToolbar').Paging({ pagesize: 10, count: 85, toolbar: true });
                            </script>
                        </div>
                        <div class="clear">
                        </div>
                        <!--a href="word.htm" title="" class="btnBlank btn4em mt20">完成设置</a-->
                    </div>
                    <!-- app_cnt_v3 end -->

                </div>
                <!-- container end-->

            </div>
            <!-- content_all end-->

            <style>
                #new_footer
                {
                    background-color: #2A2C31;
                    padding: 20px 0;
                    width: 100%;
                    min-width: 1000px;
                    clear: both;
                }

                    #new_footer a
                    {
                        color: #6D6D6D;
                        text-decoration: none;
                    }

                        #new_footer a:hover
                        {
                            color: #FF6600;
                            text-decoration: underline;
                        }

                .frgray
                {
                    color: #6D6D6D;
                    text-align: center;
                    margin-left: 700px;
                    margin-bottom: 12px;
                }
            </style>

            <link rel="stylesheet" type="text/css" href="~/Content/homeJsCss/footer.css">
            <div id="footer-ft" class=" hui-footer">

                <div class="hui-footer-ft">
                    <div class="hui-footer-ft-row">
                        <p>


                            <a href="http://www.hujiang.com/about/" target="_blank">关于沪江</a>

                            <b>|</b>


                            <a href="http://kefu.hujiang.com/" target="_blank">客服中心</a>

                            <b>|</b>


                            <a href="http://jobs.hujiang.com/" target="_blank">诚聘英才</a>

                            <b>|</b>


                            <a href="http://www.hujiang.com/about/account/" target="_blank">法律声明</a>

                            <b>|</b>


                            <a href="http://www.hujiang.com/about/contact/" target="_blank">联系我们</a>

                            <b>|</b>


                            <a href="http://www.hujiang.com/zt/hystory/" target="_blank">沪友故事</a>



                        </p>
                    </div>
                    <div class="hui-footer-ft-row">
                        <p class="hui-footer-ft-contact">
                            <span>沪江教育科技（上海）股份有限公司&nbsp;&nbsp;021-61125678&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="http://www.miitbeian.gov.cn/" target="_blank">ICP认证：沪B2-20110096</a>
                        </p>
                        <p class="hui-footer-ft-copyright">
                            <span>Copyright © 2017 沪江 All Rights Reserved.</span>
                        </p>
                    </div>
                    <div class="hui-footer-ft-row hui-footer-ft-row-icon">
                        <p class="hui-footer-ft-icon">

                            <a class="hui-footer-ft-icon-1" href="http://jubao.china.cn:13225/reportform.do" title="中国互联网举报中心" target="_blank">
                                <i></i>
                                <span>中国互联网举报中心</span>
                            </a>

                            <a class="hui-footer-ft-icon-2" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000355" title="互联网站备案信息" target="_blank">
                                <i></i>
                                <span>互联网站备案信息</span>
                            </a>

                            <a class="hui-footer-ft-icon-3" href="http://www.shjbzx.cn/" title="上海互联网举报中心" target="_blank">
                                <i></i>
                                <span>上海互联网举报中心</span>
                            </a>

                            <a class="hui-footer-ft-icon-4" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120514145658342" title="工商网监电子标识	  " target="_blank">
                                <i></i>
                                <span>工商网监电子标识	  </span>
                            </a>

                            <a class="hui-footer-ft-icon-5" href="http://www.cyberpolice.cn/wfjb/" title="上海网络报警平台" target="_blank">
                                <i></i>
                                <span>上海网络报警平台</span>
                            </a>

                        </p>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="~/Content/homeJsCss/footer.js"></script>

            <!-- 统计 -->
            <script type="text/javascript" src="~/Content/homeJsCss/class_cichang.js"></script>

            <!-- 统计 end-->




            <script src="~/Content/homeJsCss/gotop.js" type="text/javascript"></script>
        </div>
    </form>
    <script type="text/javascript">
        var uzt_98 = "_" + Math.random().toString(36).slice(2);
        document.write('<div id="' + uzt_98 + '"></div>');
        (window._Uzt_Slots = window._Uzt_Slots || []).push({
            id: 98,
            cid: uzt_98
        });
    </script>
    <div id="_oqdqs73e0cj" style="display: none;"></div>

    <script type="text/javascript">
        var uzt_97 = "_" + Math.random().toString(36).slice(2);
        document.write('<div id="' + uzt_97 + '"></div>');
        (window._Uzt_Slots = window._Uzt_Slots || []).push({
            id: 97,
            cid: uzt_97, priority: 99
        });
    </script>
    @*<div id="_2biy79qdfha" style="z-index: 99; width: 100%; position: fixed; height: 130px; bottom: 0px; left: 100%;">
        <a href="https://u8.hujiang.com/click?page=https%3A%2F%2Fclass.hujiang.com%2Fclasszt%2FMKTTopic_p92090%3Fch_campaign%3Dcls14428%26ch_source%3Ditool_qbgjx_0_dbfc&amp;b2=97&amp;b3=45d33d13-7227-10f6-f11f-4ae326c96692&amp;d0=110&amp;d1=616&amp;d2=738" target="_blank" style="position: absolute; left: 50%; margin-left: -500px; width: 1000px; height: 130px; background: url(&quot;https://resu8.hjfile.cn/resu8/2017/07/26/d68ce2662368f61d54970dcebea0cf18.png&quot;) center center no-repeat; display: block; z-index: 99;"><a style="position: absolute; z-index: 100; cursor: pointer; width: 25px; height: 25px; background: url(&quot;//res.hjfile.cn/lib/uzhi/images/close.png&quot;) center center no-repeat; right: -25px; top: 40px;"></a></a>
        <div style="width: 100%; height: 100px; position: absolute; bottom: 0px; background: rgb(12, 12, 12); opacity: 0.7; z-index: 1;"></div>
    </div>*@

    <script src="~/Content/homeJsCss/uzt.min.js" type="text/javascript"></script>



    <script type="text/javascript">
        $(function () {
            var key = $("#txtKeyword");

            key.keydown(function (event) {
                if (event.keyCode == 13) {
                    search();
                }
            }).on({
                blur: function () {
                    var val = $(this).val();
                    if (val == '') {
                        $(this).val('输入您要查找的影片');
                        $(this).css("color", "#ccc");
                    }
                },
                focus: function () {
                    var val = $(this).val();
                    if (val == '输入您要查找的影片') {
                        $(this).val('');
                        $(this).css("color", "#494949");
                    }
                }
            }).val("输入您要查找的影片");
            $("#btnSearch").click(search);


            $("#books_status").change(function () {
                var val = $("#books_status option:selected").val();
                if (val == "fav") {
                    window.location.href = "/books/favorite";
                }
                else {
                    window.location.href = '/books/my?finished=' + val;
                }
            });

            /*subfilter效果*/
            if ($(".subfilter_box").length == 0) {
                $(".subfilter .arrow").hide();
            } else {
                $(".subfilter .arrow").css("left", $(".filters .selected").position().left + $(".filters .selected").width() / 2 - 3);
            }

        });

        function search() {
            if ($('#txtKeyword').val() != '' && $('#txtKeyword').val() != '输入您要查找的单词书')
                window.location.href = '/search/' + encodeURIComponent($('#txtKeyword').val());
        }
    </script>
    <div id="class_gotop" style="position: fixed; right: 10px; bottom: 10px; z-index: 100; display: none;"><a id="class_a_gotop" title="回到顶部" style="display: block; _display: none; height: 50px; width: 50px; background: url(&quot;https://res.c.hjfile.cn/app/images/go_top.gif&quot;) repeat scroll 0 0 transparent;" href="javascript:" onclick="SendEvent(27,420)"></a></div>
    <div class="hp-dialog" tabindex="-1" style="display: none; z-index: 1000001; position: fixed; width: 300px;">
        <div id="hp-dialog" class="hp-inner-dialog hp-content" data-hp-widgets="12" style="display: block;">
            <div class="hp-title hp-hide">
                <div class="hp-dialog-img"></div>
                <div class="hp-dialog-subtitle"></div>
            </div>
            <div class="hp-content"></div>
            <div class="hp-button-set hp-cf"><a href="javascript:void(0);" class="hp-btn hp-btn-ok"></a><a href="javascript:void(0);" class="hp-btn hp-btn-close"></a></div>
        </div>
    </div>
    <div class="hp-dialog" tabindex="-1" style="display: none; z-index: 1000000; position: fixed; width: 500px;">
        <div class="hp-dialog-header">
            <div class="hp-close hp-icon-close"></div>
        </div>
        <div class="hp-view-container hp-content" data-hp-widgets="70">
            <div class="hp-common-info" data-hp-widgets="71" style="display: none;">
                <p class="hp-common-info-line">提示</p>
            </div>
        </div>
    </div>


</body>
</html>
